@model LoginModel
@using Microsoft.AspNetCore.Http
@using BookStore.Common;
@{
    var userId = Context.Session.GetString("userId");
    var encryptEmail = "";
    if (userId != null)
    {
        encryptEmail = Base64.Base64Encode(userId);
    }
}

<link href="~/css/UserRegistration.css" rel="stylesheet" />


<div class="container log">
    <div class="screen">
        <div class="screen__content">
            <form asp-action="Login" asp-controller="User" asp-route-encryptEmail="@encryptEmail" class="login form_wrapper" method="post" enctype="multipart/form-data">
                <div class="login__field input_field">
                    <i class="login__icon fas fa-user"></i>
                    <input asp-for="Email" type="text" class="login__input form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="login__field input_field">
                    <i class="login__icon fas fa-lock"></i>
                    <input asp-for="Password" type="password" class="login__input form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input_field">
                    <input type="submit" value="Log In" class="button login__submit">
                </div>
            </form>

        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

<div id="popup">
    <div class="popup-content">
        @if (ViewBag.UpdateMsg < 0)
        {
            <p>@ViewBag.ErrorMessage</p>
        }
        else
        {
            <p>E-Mail Already Registered. Please Enter Another E-Mail </p>
        }
        <form asp-action="Index" asp-controller="Home" method="get">
            <div><button type="submit" class="btn btn-success">OK</button></div>
        </form>
    </div>
</div>

@if (ViewBag.UpdateMsg < 0)
{
    <script>
        document.getElementById("popup").style.display = "block";
    </script>
}