@{
    ViewData["Title"] = "Privacy Policy";
}

<link href="~/css/Privacy.css" rel="stylesheet" />
<div class="container">
    <div class="card">
        <h2>Privacy Policy</h2>
        <p>Your privacy is important to us. This privacy policy outlines how we collect, use, and protect your personal information when you visit and interact with our online bookstore.</p>
        <p>We may collect personal information, such as your name, email address, and shipping address, when you place an order or sign up for our newsletter. We use this information solely for the purpose of processing your orders and keeping you informed about our latest products and promotions.</p>
        <p>We employ industry-standard security measures to protect your information from unauthorized access, alteration, or disclosure. We do not sell or share your personal information with third parties without your consent, except as required by law.</p>
        <p>Our website may use cookies to enhance your browsing experience and provide personalized content. You can adjust your browser settings to refuse cookies or alert you when cookies are being sent.</p>
        <p>If you have any questions or concerns regarding our privacy policy or the handling of your personal information, please contact us. We are committed to protecting your privacy and ensuring a secure online shopping experience.</p>
    </div>
</div>
