
@using Microsoft.AspNetCore.Http
@using BookStore.Common;
@{
    var userId = Context.Session.GetString("userName");
    var encryptEmail = "";
    if (userId != null)
    {
        encryptEmail = Base64.Base64Encode(userId);
    }
}


<link href="~/css/ISBN.css" rel="stylesheet" />
<div class="container">
    <div class="form-container">
        <h2>Enter ISBN Number to Search Book</h2>
        <form method="post" asp-action="SearchByISBN" asp-controller="Admin" asp-route-encryptEmail="@encryptEmail">
            <label for="isbn">Enter ISBN:</label>
            <input type="text" id="isbn" name="isbn" required class="styled-input">    
            <button type="submit">Search</button>
        </form>
    </div>
</div>
