@model ReviewModel
@using Microsoft.AspNetCore.Http;
@using BookStore.Common;
@{
   
        var userId = Context.Session.GetString("userId");
        var encryptEmail = "";
        if (userId != null)
        {
            encryptEmail = Base64.Base64Encode(userId);
        }
    }

    @if (userId != null)
    {
        <form method="post" asp-action="SubmitReview" asp-controller="BookDetail" class="needs-validation" novalidate>
            <input type="hidden" name="BookId" value="@ViewData["bookId"]"  />

            <div class="mb-3">
                <label for="Username" class="form-label">Name:</label>
                <input type="text" name="Username" class="form-control" required asp-for="Username" />
                <div class="invalid-feedback">Please enter your name.</div>
            </div>
            <div class="mb-3">
                <label for="Rating" class="form-label">Rating:</label>
                <input type="number" name="Rating" class="form-control" min="1" max="5" required asp-for="Rating" />
                <div class="invalid-feedback">Please enter a valid rating between 1 and 5.</div>
            </div>
            <div class="mb-3">
                <label for="Comment" class="form-label">Comment:</label>
                <textarea name="Comment" class="form-control" required asp-for="Comment"></textarea>
                <div class="invalid-feedback">Please enter your comment.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
    }